{include file="Public/header" /}
<div class="layui-body">
    <div class="layui-container">
        <!-- 内容主体区域 -->
        <h2 id="userCon" style="text-align: center;padding: 15px 0">管理学生</h2>

        <table id="showStudent" lay-filter="showStudent"></table>
        <script type="text/html" id="operation-bar">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">修改</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="upfile"><i class="layui-icon"></i>任务书</a>
        </script>

        <script type="text/html" id="titleTpl">
            <a href="{:url('../downas')}?id={{ d.id }}" class="layui-table-link" target="_blank">{{ d.title }}<span style="font-size: 0.6em;color: red;">({{ d.isUpload }})</span></a>
        </script>
    </div>
</div>
{include file="Public/footer" /}

<script src="__FHOME_JS__/showEditScore.js"></script>
<div id="changeScore" style="display: none">
    <form class="layui-form " lay-filter="changeScore" id="change_score" action="#" style="padding: 15px 20px 0 0;" method="post">
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-block">
                <input type="text" name="id" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">中期成绩</label>
            <div class="layui-input-block">
                <select name="mscore" lay-verify="required" required lay-filter="mscore" id="mscore">
                    <option value="">---请选择---</option>
                    {volist name="midscore" id="midscore"}
                    <option value="{$midscore}">{$midscore}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">答辩成绩</label>
            <div class="layui-input-block">
                <select name="rscore" lay-verify="required" required lay-filter="rscore" id="rscore">
                    <option value="">---请选择---</option>
                    {volist name="repscore" id="repscore"}
                    <option value="{$repscore}">{$repscore}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 15px;">
            <div class="layui-input-block">
                <button class="layui-btn" type="button"  lay-submit="" lay-filter="change_score">立即提交</button>
            </div>
        </div>
    </form>
</div>

<div id="up_assign" style="display: none">
    <!--上右下左-->
    <button type="button" class="layui-btn" id="upassign" style="margin: 30px 50px;"><i class="layui-icon"></i>上传文件</button>
</div>