<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Stuid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-stuid" data-rule="required" class="form-control" name="row[stuid]" type="number" value="{$row.stuid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Titleid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-titleid" data-rule="required" class="form-control" name="row[titleid]" type="number" value="{$row.titleid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Teaid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-teaid" data-rule="required" class="form-control" name="row[teaid]" type="number" value="{$row.teaid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pick')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pick" data-rule="required" class="form-control" name="row[pick]" type="text" value="{$row.pick}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Isallow')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-isallow" data-rule="required" class="form-control" name="row[isallow]" type="text" value="{$row.isallow}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Issubmit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-issubmit" data-rule="required" class="form-control" name="row[issubmit]" type="text" value="{$row.issubmit}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Belongsenior')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-belongSenior" data-rule="required" class="form-control" name="row[belongSenior]" type="text" value="{$row.belongSenior}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="{$row.weigh}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
