{include file="Public/header" /}
<style type="text/css">
    #pchartfooter{
        vertical-align: center;
        margin-top: 180px;
        color: #1e282c;
        font-size: 15px;
        border:1px solid #cee3e9;
        background:#f1f7f9;
        padding: 20px 0;
        border-radius:25px;
    }
    .pchartp{
        margin: 8px 5px;
    }

    .pcharttitle{
        color: #8e8e8e;
        margin: 0 10px 0 30px;
    }

    .pchartcon{
        color: #0f253c;
        -webkit-text-stroke: 0.05px lightskyblue;
    }

</style>
<div class="layui-body">
    <div class="layui-container">
        <div class="layui-row layui-col-space10 prochartDemo">
            <div class="layui-anim layui-anim-fadein">
                <div class="layui-col-md4" style="opacity: 0;">左边</div>
                    <div class="layui-col-md4">
                        <ul class="layui-timeline">
                            {volist name="prochart" id="pro"}
                            <li class="layui-timeline-item">
                                {if condition="$pro.isnow eq -1"}
                                <i class="layui-icon layui-timeline-axis">&#xe605;</i>  <!-- 已截止 -->
                                <div class="layui-timeline-content layui-text">
                                    <h2 class="layui-timeline-title" style="color: #7E96B3;">{$pro.proname}</h2>
                                {/if}
                                {if condition="$pro.isnow eq 0"}
                                <i class="layui-icon layui-timeline-axis">&#xe6af;</i>  <!-- 正在进行 -->
                                <div class="layui-timeline-content layui-text">
                                    <h2 class="layui-timeline-title" style="color: #a00000;">{$pro.proname}(进行中)</h2>
                                {/if}
                                {if condition="$pro.isnow eq 1"}
                                <i class="layui-icon layui-timeline-axis">&#xe609;</i>  <!-- 未开始 -->
                                <div class="layui-timeline-content layui-text">
                                    <h2 class="layui-timeline-title">{$pro.proname}</h2>
                                {/if}
                                {if condition="$pro.isnow eq 2"}
                                <i class="layui-icon layui-timeline-axis">&#xe609;</i>  <!-- 未开始 -->
                                <div class="layui-timeline-content layui-text">
                                    <h2 class="layui-timeline-title" style="color: #0e6f5c;">{$pro.proname}</h2>
                                {/if}
                                    <h4>
                                        {$pro.starttime} → {$pro.endtime}
                                    </h4>
                                    <br/>
                                </div>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                <div class="layui-col-md4">
                    <div id="pchartfooter">
                        <p class="pchartp"><span class="pcharttitle">用户姓名：</span> <span class="pchartcon">{$userinfo.name}</span> </p>
                        <p class="pchartp"><span class="pcharttitle">用户工号：</span> <span class="pchartcon">{$userinfo.idcard}</span> </p>
                        <p class="pchartp"><span class="pcharttitle">用户身份：</span> <span class="pchartcon">{$userinfo.auth}</span> </p>
                        <p class="pchartp"><span class="pcharttitle">开题时间：</span> <span class="pchartcon">{$userinfo.starttime}</span> </p>
                        <p class="pchartp"><span class="pcharttitle">中期时间：</span> <span class="pchartcon">{$userinfo.middletime}</span> </p>
                        <p class="pchartp"><span class="pcharttitle">答辩时间：</span> <span class="pchartcon">{$userinfo.replytime}</span> </p>
                        <p class="pchartp"><span class="pcharttitle">答辩地点：</span> <span class="pchartcon">{$userinfo.replyplace}</span> </p>
                        {if condition="$Request.session.auth eq 1"}
                        <p class="pchartp"><span class="pcharttitle">开题报告：</span> <span class="pchartcon">{$userinfo.openreport}</span> </p>
                        <p class="pchartp"><span class="pcharttitle">毕设论文：</span> <span class="pchartcon">{$userinfo.paper}</span> </p>
                        <p class="pchartp"><span class="pcharttitle">毕设材料：</span> <span class="pchartcon">{$userinfo.code}</span> </p>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
            <!--<div class="layui-col-md3"></div>-->
    </div>
</div>
{include file="Public/footer" /}
</body>
</html>