{include file="Public/header" /}
<div class="layui-body">
    <div class="layui-container">
        <!-- 内容主体区域 -->
        <h2 id="userCon" style="text-align: center;padding: 15px 0">我的毕设题目</h2>
        <table id="myTitle" lay-filter="myTitle"></table>
        <script type="text/html" id="operation-bar">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</a>
        </script>
    </div>
</div>
{include file="Public/footer" /}

<script src="__FHOME_JS__/sselect.js"></script>