{include file="Public/header" /}
<div class="layui-body">
    <div class="layui-container">
        <!-- 内容主体区域 -->
        <h2 id="userCon" style="text-align: center;padding: 15px 0">我申请的题目</h2>
        <div class="btn-wrap layui-clear">
            <div class="layui-show-md-inline-block" style="float:right;">
                <a href="javascript:" id="submit_title" class="layui-btn" data-type="submitData">提交数据</a>
            </div>
        </div>
        <table id="mySelected" lay-filter="mySelected"></table>
        <script type="text/html" id="isNewTpl">
            {{(d.isnew==='1'?'是':'否')}}
        </script>
        <script type="text/html" id="isPracTpl">
            {{(d.isprac==='1'?'是':'否')}}
        </script>
        <script type="text/html" id="operation-bar">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
        <div id="showNote">
            <p style="color: #999">注：1.备注信息1</p>
        </div>
    </div>
</div>
{include file="Public/footer" /}

<script src="__FHOME_JS__/sselect.js"></script>