{include file="Public/header" /}
<style type="text/css">
    .mybtn{
        margin: 10px 10px;
    }
    .mybtn-right{
        display: inline;
        float: right;
    }

</style>
<div class="layui-body">
    <div class="layui-container">
        <!-- 内容主体区域 -->
        <h2 id="userCon" style="text-align: center;padding: 15px 0">我的毕设题目</h2>
        <table id="myTitle" lay-filter="myTitle"></table>
        <script type="text/html" id="operation-bar">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</a>
        </script>
        {if condition=" $isUp == 1 "}
        <div class="mybtn">
            <button type="button" class="layui-btn layui-btn-primary" id="openreport"><i class="layui-icon"></i>上传开题报告</button>
            <button type="button" class="layui-btn layui-btn-normal" id="mypaper"><i class="layui-icon"></i>上传毕设论文</button>
            <button type="button" class="layui-btn layui-btn-danger" id="mycode"><i class="layui-icon"></i>上传毕设材料</button>
            <div class="mybtn-right">
                <a href="{:url('../downre')}" type="button" class="layui-btn layui-btn-primary" id="dopenreport" target="_blank"><i class="layui-icon"></i>下载开题报告</a>
                <a href="{:url('../downpa')}" type="button" class="layui-btn layui-btn-normal" id="dmypaper" target="_blank"><i class="layui-icon"></i>下载毕设论文</a>
                <a href="{:url('../downco')}" type="button" class="layui-btn layui-btn-danger" id="dmycode" target="_blank"><i class="layui-icon"></i>下载毕设材料</a>
            </div>

        </div>
        {/if}
    </div>
</div>
{include file="Public/footer" /}

<script src="__FHOME_JS__/sselect.js"></script>
<script src="__FHOME_JS__/stupload.js"></script>