{include file="Public/header" /}
<div class="layui-body">
    <div class="layui-container">
        <!-- 内容主体区域 -->
        <h2 id="userCon" style="text-align: center;padding: 15px 0">我申请的题目</h2>
        <!--<div class="btn-wrap layui-clear">
            <div class="layui-show-md-inline-block" style="float:right;">
                <a href="javascript:" id="submit_title" class="layui-btn" data-type="submitData">提交数据</a>
            </div>
        </div>-->
        <table id="mySelected" lay-filter="mySelected"></table>
        <script type="text/html" id="isNewTpl">
            {{(d.isnew==='1'?'是':'否')}}
        </script>
        <script type="text/html" id="isPracTpl">
            {{(d.isprac==='1'?'是':'否')}}
        </script>
        <script type="text/html" id="operation-bar">
            {if condition="$isallsave == 0"}
            {{# var ifdisabled1=(d.state!='未提交'?'layui-btn-disabled':'')}}
            {{# var ifdisabled2=(d.state=='已通过'?'layui-btn-disabled':'')}}
            <a class="layui-btn layui-btn-normal layui-btn-xs {{ifdisabled1}}" lay-event="{{ifdisabled1=='layui-btn-disabled'?'':'sure'}}">提交</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs {{ifdisabled2}}" lay-event="{{ifdisabled2=='layui-btn-disabled'?'':'del'}}">删除</a>
            {else /}
            <a class="layui-btn layui-btn-normal layui-btn-xs layui-btn-disabled" lay-event="">提交</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-disabled" lay-event="">删除</a>
            {/if}
        </script>
        <div id="showNote">
            <p style="color: #a00000">注：1.一旦提交被教师确认后就不能再修改，请谨慎操作！</p>
        </div>
    </div>
</div>
{include file="Public/footer" /}

<script src="__FHOME_JS__/sselect.js"></script>